.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 374px 222px #fff, 733px 799px #fff, 856px 579px #fff, 61px 75px #fff, 1662px 219px #fff, 751px 217px #fff, 586px 898px #fff, 1515px 458px #fff, 729px 636px #fff, 104px 862px #fff, 695px 522px #fff, 637px 582px #fff, 505px 292px #fff, 907px 853px #fff, 1039px 465px #fff, 290px 449px #fff, 445px 50px #fff, 992px 743px #fff, 732px 442px #fff, 573px 145px #fff, 1090px 527px #fff, 1851px 509px #fff, 70px 281px #fff, 1428px 761px #fff, 1515px 809px #fff, 1254px 199px #fff, 4px 869px #fff, 1495px 116px #fff, 1066px 215px #fff, 1410px 915px #fff, 31px 445px #fff, 1643px 574px #fff, 275px 431px #fff, 1488px 565px #fff, 1843px 760px #fff, 815px 479px #fff, 1719px 95px #fff, 1853px 189px #fff, 1179px 405px #fff, 91px 519px #fff, 734px 970px #fff, 808px 721px #fff, 525px 247px #fff, 732px 578px #fff, 208px 603px #fff, 212px 931px #fff, 1328px 116px #fff, 1405px 517px #fff, 88px 895px #fff, 874px 537px #fff, 1362px 253px #fff, 1031px 119px #fff, 744px 720px #fff, 1486px 252px #fff, 1526px 91px #fff, 960px 14px #fff, 1752px 63px #fff, 1508px 751px #fff, 1191px 562px #fff, 1345px 665px #fff, 413px 198px #fff, 1060px 524px #fff, 95px 321px #fff, 548px 150px #fff, 998px 896px #fff, 583px 467px #fff, 664px 699px #fff, 1631px 400px #fff, 1726px 296px #fff, 311px 235px #fff, 503px 927px #fff, 1549px 196px #fff, 1822px 782px #fff, 1062px 55px #fff, 1712px 913px #fff, 377px 74px #fff, 1249px 707px #fff, 1883px 369px #fff, 1375px 348px #fff, 1636px 515px #fff, 98px 177px #fff, 1548px 356px #fff, 733px 956px #fff, 902px 276px #fff, 242px 416px #fff, 566px 137px #fff, 1394px 493px #fff, 470px 999px #fff, 1700px 741px #fff, 724px 589px #fff, 674px 223px #fff, 92px 634px #fff, 1660px 62px #fff, 40px 602px #fff, 1382px 674px #fff, 532px 267px #fff, 1266px 632px #fff, 869px 840px #fff, 1354px 234px #fff, 1655px 448px #fff, 683px 606px #fff, 1596px 702px #fff, 956px 696px #fff, 508px 528px #fff, 1472px 3px #fff, 1024px 196px #fff, 338px 64px #fff, 543px 688px #fff, 1549px 617px #fff, 1901px 653px #fff, 24px 5px #fff, 154px 849px #fff, 99px 334px #fff, 283px 735px #fff, 1796px 570px #fff, 445px 596px #fff, 1254px 654px #fff, 516px 127px #fff, 658px 568px #fff, 1838px 555px #fff, 274px 304px #fff, 1613px 809px #fff, 1194px 854px #fff, 1553px 610px #fff, 1574px 770px #fff, 620px 268px #fff, 1702px 455px #fff, 556px 826px #fff, 737px 653px #fff, 466px 466px #fff, 615px 627px #fff, 894px 44px #fff, 166px 374px #fff, 117px 471px #fff, 567px 680px #fff, 721px 395px #fff, 826px 699px #fff, 257px 891px #fff, 936px 253px #fff, 1512px 600px #fff, 1378px 874px #fff, 1333px 526px #fff, 215px 118px #fff, 1626px 256px #fff, 600px 81px #fff, 1702px 329px #fff, 301px 647px #fff, 1214px 294px #fff, 1255px 627px #fff, 694px 156px #fff, 1314px 946px #fff, 1423px 694px #fff, 1564px 664px #fff, 1585px 197px #fff, 1321px 504px #fff, 1450px 339px #fff, 1582px 230px #fff, 208px 856px #fff, 1392px 649px #fff, 539px 942px #fff, 322px 885px #fff, 290px 371px #fff, 160px 744px #fff, 41px 18px #fff, 467px 670px #fff, 161px 439px #fff, 1072px 628px #fff, 1899px 821px #fff, 396px 996px #fff, 1433px 838px #fff, 903px 966px #fff, 1px 274px #fff, 1506px 267px #fff, 1093px 277px #fff, 383px 782px #fff, 1093px 687px #fff, 1211px 318px #fff, 99px 496px #fff, 1039px 332px #fff, 39px 463px #fff, 247px 137px #fff, 1741px 693px #fff, 827px 313px #fff, 1520px 376px #fff, 533px 313px #fff, 1699px 384px #fff, 1704px 404px #fff, 85px 636px #fff, 726px 703px #fff, 1884px 551px #fff, 1223px 591px #fff, 1152px 63px #fff, 1392px 243px #fff, 687px 594px #fff, 929px 950px #fff, 873px 976px #fff, 207px 285px #fff, 1284px 448px #fff, 1140px 779px #fff, 937px 666px #fff, 1724px 88px #fff, 1053px 959px #fff, 863px 528px #fff, 1588px 884px #fff, 1078px 228px #fff, 548px 843px #fff, 970px 571px #fff, 884px 922px #fff, 833px 980px #fff, 1294px 654px #fff, 1853px 321px #fff, 1334px 257px #fff, 90px 583px #fff, 1097px 910px #fff, 698px 826px #fff, 180px 610px #fff, 589px 229px #fff, 463px 7px #fff, 75px 53px #fff, 1614px 348px #fff, 1251px 799px #fff, 972px 290px #fff, 833px 9px #fff, 224px 38px #fff, 958px 286px #fff, 1233px 978px #fff, 1312px 667px #fff, 1262px 892px #fff, 803px 376px #fff, 92px 872px #fff, 4px 526px #fff, 808px 915px #fff, 1911px 505px #fff, 1552px 128px #fff, 419px 576px #fff, 492px 151px #fff, 209px 232px #fff, 266px 574px #fff, 970px 117px #fff, 1414px 216px #fff, 583px 483px #fff, 657px 466px #fff, 210px 614px #fff, 442px 567px #fff, 1435px 82px #fff, 766px 285px #fff, 1605px 289px #fff, 399px 702px #fff, 320px 281px #fff, 125px 821px #fff, 800px 588px #fff, 1639px 52px #fff, 57px 156px #fff, 665px 855px #fff, 1885px 345px #fff, 434px 929px #fff, 739px 773px #fff, 895px 846px #fff, 1154px 37px #fff, 1057px 721px #fff, 1837px 89px #fff, 1420px 877px #fff, 1272px 723px #fff, 1816px 394px #fff, 1257px 807px #fff, 850px 872px #fff, 76px 540px #fff, 906px 874px #fff, 1809px 927px #fff, 1px 515px #fff, 1707px 419px #fff, 1095px 874px #fff, 1404px 372px #fff, 820px 842px #fff, 270px 45px #fff, 492px 452px #fff, 886px 264px #fff, 232px 314px #fff, 988px 418px #fff, 900px 452px #fff, 1753px 456px #fff, 623px 478px #fff, 101px 61px #fff, 425px 244px #fff, 272px 85px #fff, 718px 399px #fff, 1868px 520px #fff, 478px 613px #fff, 1731px 392px #fff, 184px 326px #fff, 1260px 566px #fff, 1036px 392px #fff, 1335px 418px #fff, 1853px 114px #fff, 451px 716px #fff, 1724px 56px #fff, 1033px 163px #fff, 1197px 432px #fff, 203px 954px #fff, 950px 988px #fff;
}

.meteor-1 {
  position: absolute;
  top: 114px;
  left: 66%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.1s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 402px;
  left: 74%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.2s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 150px;
  left: 70%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.4s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 90px;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.7s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 281px;
  left: 57%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.1s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 314px;
  left: 88%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 364px;
  left: 28%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.7s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 171px;
  left: 89%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.6s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 227px;
  left: 29%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.6s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 82px;
  left: 40%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.7s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 548px;
  left: 64%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 117px;
  left: 89%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.3s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 244px;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 128px;
  left: 40%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.6s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 306px;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.2s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=meteor.css.map */
